body {
  margin: 0;
  font-family: 'Nunito', sans-serif;

}

.heading {
  font-family: 'Nunito';
  font-weight: 600;
}

.subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Gliber';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/components/fonts/nunito/Nunito-Bold.woff') format('woff');
}